@charset "UTF-8";
/* ===== HEADER ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* padding: 16px 0;*/
           padding: 20px 40px; /* THÊM DÒNG NÀY */
    border-bottom: 1px solid rgba(255,255,255,0.1);

}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    width: 28px;
    color: #e60a15;
}

.menu {
    display: flex;
    gap: 28px;
}

.menu a {
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
}

.menu a:hover {
    color: #e60a15;
}

/* SEARCH + ICONS */
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.07);
    padding: 7px 12px;
    border-radius: 8px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    color: white;
}

.icon-btn {
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,0.07);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}